body {
  font-family: Georgia, system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Microsoft YaHei",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #121212;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

/** TYPO **/

code {
  font-family: "DejaVu Sans Mono", consolas, monospace;
}

b, strong {
  font-weight: bolder;
}

.mark, mark {
  padding: 0.2em;
  background-color: #fff7d0;
}

em {
  font-style: italic;
}

ins {
  text-decoration: underline;
}

del, s {
  text-decoration: line-through;
}

code {
  font-size: 0.875rem;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

a {

}

ol {

}

ul {

}

li {

}

hr {
  height: 1px;
  margin: 1rem 0;
  color: inherit;
  background-color: #121212;
  border: 0;
  opacity: 0.25;
  clear: both;
}

.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.h2, h2 {
  font-size: calc(1.325rem + 0.9vw);
}

.h3, h3 {
  font-size: calc(1.3rem + 0.6vw);
}

.h4, h4 {
  font-size: calc(1.275rem + 0.3vw);
}

.h5, h5 {
  font-size: 1.25rem;
}

.h6, h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

/** LAYOUT **/
.container {
  width: 100%;
  display: flex;
}

/** COMPONENTS **/

.blog-list {
  flex: 4 4 auto;
}

.blog {
  word-break: break-word;
  line-height: 1.6;
  border-radius: 5px;
  padding: 10px 20px;
}

.blog-meta {
  margin-top: 1.25rem;
  color: #727272;
  text-align: right;
}

.sidebar {
  padding: 15px 10px;
  flex: 2 2 300px;
  display: none;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .blog {
    padding: 20px 30px;
  }
}

@media (min-width: 910px) {
  .container {
    max-width: 890px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .sidebar {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}